{{#extend "layout"}}

    {{#content "header"}}  
    <h2 class="title">About</h2>
 
    {{/content}}

    {{#content "page"}}
    <section class="section">
      <h2 class="title">Author</h2>
      <p class="box">
        Fluxbuild is written by <a href="https://github.com/Flubbex">Flubbex.</a>
      </p>
    </section>
    {{/content}}

{{/extend}}
