{{#extend "layout"}}

  {{#content "header"}}
  <h1 class="title">Disc</h1>
  {{/content}}
  
  {{#content "page"}}
    <embed src="content/disc/index.html" 
           class="no-margin" 
           style="height:90%;width:100%"></embed>
  {{/content}}

{{/extend}}
