{{#extend "layout"}}
  {{#content "header"}}
<h1 class="title">Fluxbuild</h1>
<h1 class="subtitle">
        Ember-inspired build tool written in Node.js
  <span class="fade-in-from-top anim-delay--10">
          for creating fast,
  </span>
  <span class="fade-in-from-top anim-delay--15">lightweight,</span>
  <span class="fade-in-from-top anim-delay--20">uncoupled,</span>
  <span class="fade-in-from-top anim-delay--25">full-scale applications - </span>
  <span class="fade-in-from-top anim-delay--35">that work anywhere </span>
</h1>
  {{/content}}

  {{#content "page"}}
<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child box">
    <h2 class="title">Gulp 4</h2 class="title">
    <p>
          gulp is a toolkit for automating painful or time-consuming tasks in your development workflow, so you can stop messing around and build something.
      </p>
      </div>

      <div class="tile is-child box">
        <h2 class="title">Browserify</h2 class="title">
        <p>
          Browsers don't have the require method defined, but Node.js does. With Browserify you can write code that uses require in the same way that you would use it in Node.
        </p>
      </div>

      <div class="tile is-child box">
        <h2 class="title">Bottle.js</h2 class="title">
        <p>
         BottleJS is a tiny, powerful dependency injection container. It features lazy loading, middleware hooks, decorators and a clean api inspired by the AngularJS Module API and the simple PHP library Pimple. 
        </p>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child box">
        <h2 class="title">Handlebars</h2 class="title">
        <p>
          Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.
        </p>
      </div>

      <div class="tile is-child box">
        <h2 class="title">Bulma CSS</h2 class="title">
        <p>
          Bulma is a free and open source CSS framework based on Flexbox.
        </p>
      </div>

      <div class="tile is-child box">
        <h2 class="title">Fluxbuild</h2 class="title">
        <p>
          Build blazingly-fast applications using all of the above, with premade gulp tasks for automated testing, documentation,templating and more. Configurable to fit your favorite workflow without getting in your way.
        </p>
      </div>
    </div>
  </div>
</section>
  {{/content}}

{{/extend}}
    