<header class="container--wrap no-margin-vertical">
    <h1 class="m--1 g--4 g-s--11 docsHeader no-margin-vertical">{{name}}</h1>
      {{#block "header"}}
      {{/block}}
</header>
  <div class="g--10 m--1">
    {{#block "page"}}
    Content
    {{/block}}
  </div>
</div>
