<div class="g--12 logo-area no-margin-vertical">
  <h4 class="no-margin-vertical">{{name}}</h4>
</div>
<nav class="g--12 no-margin-vertical" role="navigation">
  <a href="#home">Overview</a>

  <div class="nav-collapsible">
    <input type="checkbox" id="nav-documentation">
    <label for="nav-documentation">
        Documentation
      </label>
    <div class="nav-collapsible-links">
      <a href="#structure">Project Structure</a>
      <a href="#workflow">Workflow</a>
      <a href="#gulp">Gulp Tasks</a>
      <a href="#documentation">Generating Documentation</a>
      <a href="#handlebars">Handlebars Reference</a>
      <a href="#surface">Surface CSS Reference</a>
      <a href="#external">External Information</a>
    </div>
  </div>
  <a href="#about">About</a>
</nav>
