<aside class="menu">
  <section class="hero is-info">
    <div class="hero-body">
      <img src="images/logo.png" style="width:75px;height:auto;"/>
    </div>
  </section>
  
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Home</a></li>
    <li><a>About</a></li>
    <li><a>Disc</a></li>
  </ul>
  <p class="menu-label">
    Documentation
  </p>
  <ul class="menu-list">
    <li><a>Project Structure</a></li>
    <li><a>Gulp Tasks</a></li>
    <li><a>Handlebars</a></li>
    <li><a>Workflow</a></li>
    <li><a>Bulma CSS</a></li>
    <li><a>External Documentation</a></li>
  </ul>
</aside>