<div class="logo-area no-margin-vertical fade-in-from-top">
  <img class="g--2 no-margin-vertical" src="images/logo.png">
  <h4 class="g--6 m--1 no-margin-vertical">{{name}}</h4>
</div>
<nav class="g--12 no-margin-vertical fade-in-from-left"
     role="navigation">

  <a href="#home">
    <i class="fa fa-home fa-2x"></i>
      <span class="m--1">Home</span>
  </a>

  <div class="nav-collapsible no-margin-vertical">
    <input type="checkbox" id="nav-documentation">
    <label for="nav-documentation">
        <i class="fa fa-book"></i>
        <span class="m--1">Documentation<span>
      </label>
    <div class="nav-collapsible-links">
      <a href="#structure">Project Structure</a>
      <a href="#workflow">Workflow</a>
      <a href="#gulp">Gulp Tasks</a>
      <a href="#documentation">Generating Documentation</a>
      <a href="#handlebars">Handlebars Reference</a>
      <a href="#surface">Surface CSS Reference</a>
      <a href="#external">External Information</a>
    </div>
  </div>

  <a href="#about">
      <i class='fa fa-user fa-2x'></i>
      <span class="m--1">About</span>
  </a>
  
  <a href="#disc">
      <i class='fa fa-bar-chart fa-2x'></i>
      <span class="m--1">Disc</span>
  </a>
  
</nav>
