{{#extend "layout"}}

  {{#content "header"}}
    <h2 class="title">External Information</h2>
  {{/content}}

  {{#content "page"}}
  <section class="section">
  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="subtitle">Backbone</h2>
        <ul>
          <li><a href="http://backbonejs.org/">Official website</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">doc.js</h2>
        <ul>
          <li><a href="http://documentation.js.org/">official website</a></li>
          <li><a href="https://github.com/documentationjs/documentation/blob/master/docs/GETTING_STARTED.md">Documentation</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">scaleApp</h2>
        <ul>
          <li><a href="http://scaleapp.org/">official website</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">Zest</h2>
        <ul>
          <li><a href="https://github.com/chjj/zest">Github</a></li>
          <li><a href="https://www.npmjs.com/package/zest">NPM Package</a></li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="subtitle">Browserify</h2>
        <ul>
          <li><a href="http://browserify.org/">Official Site</a></li>
          <li><a href="https://github.com/substack/node-browserify#usage">Documentation</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">Atom.js</h2>
        <ul>
          <li><a href="https://www.npmjs.com/package/atom-js">NPM Package</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">Gulp</h2>
        <ul>
          <li><a href="http://gulpjs.com/">Official website</a></li>
          <li><a href="https://github.com/gulpjs/gulp/tree/master/docs">Documentation (Github)</a></li>
          <li><a href="http://gulpjs.org/recipes/">Recipes (Gulp.js)</a></li>
          <li><a href="https://github.com/gulpjs/gulp/tree/master/docs/recipes">Recipes (Github)</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">Handlebars</h2>
        <ul>
          <li><a href="http://handlebarsjs.com/">Official website</a></li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="subtitle">Mocha</h2>
        <ul>
          <li><a href="https://mochajs.org/">Official website</a></li>
          <li><a href="https://mochajl.readthedocs.io/en/latest/">Documentation</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">Surface CSS</h2>
        <ul>
          <li><a href="http://mildrenben.github.io/surface/">Official website</a></li>
        </ul>
      </div>

      <div class="box">
        <h2 class="subtitle">Gulp Plugins</h2>
        <ul>
          <a href="https://www.npmjs.com/package/gulp-concat">
          gulp-concat
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-declare">
          gulp-declare
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-documentation">
          gulp-documentation
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-handlebars">
          gulp-handlebars
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-hub">
          gulp-hub
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-jshint">
          gulp-jshint
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-open">
          gulp-open
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-tap">
          gulp-tap
        </a></li>
          <li><a href="https://www.npmjs.com/package/gulp-uglify">
          gulp-uglify
        </a></li>
        </ul>
      </div>
    </div>
  </div>
  </section>
  {{/content}}

{{/extend}}
