{{#extend "layout"}}

  {{#content "header"}}
   <h2 class="title">Workflow</h2>
  {{/content}}

  {{#content "page"}}
  <section class="section">
    <p class="box">Coming Soon</p>
  </section>
  {{/content}}

{{/extend}}
