{{#extend "layout"}}

    {{#content "header"}}
      <div class="g--10 m--1 no-margin">
            <h2 class="m--1 color--paper fade-in-from-top">About</h2>
      </div>
    {{/content}}

    {{#content "page"}}
    <div class="card">
      <h2>Author</h2>
      <p>
        Fluxbuild is written by <a href="https://github.com/Flubbex">Flubbex.</a>
      </p>
    </div>
    {{/content}}

{{/extend}}
