{{#extend "layout"}}

    {{#content "header"}}
    <div class="g--10 m--1">
          <h2 class="fade-in-from-top color--pink">Documentation</h2>
    </div>
    {{/content}}

    {{#content "page"}}

      <h2>Backbone</h2>
      <ul>
        <li><a href="http://backbonejs.org/">Official website (With documentation)</a></li>
      </ul>

      <h2>documentation.js</h2>
      <ul>
        <li><a href="http://documentation.js.org/">official website</a></li>
        <li><a href="https://github.com/documentationjs/documentation/blob/master/docs/GETTING_STARTED.md">Documentation / Starters Guide</a></li>
      </ul>

      <h2>Gulp</h2>
      <ul>
        <li><a href="http://gulpjs.com/">Official website</a></li>
        <li><a href="https://github.com/gulpjs/gulp/tree/master/docs">Documentation (Github)</a></li>
        <li><a href="http://gulpjs.org/recipes/">Recipes (Gulp.js)</a></li>
        <li><a href="https://github.com/gulpjs/gulp/tree/master/docs/recipes">Recipes (Github)</a></li>
      </ul>

      <h2>Handlebars</h2>
      <ul>
        <li><a href="http://handlebarsjs.com/">Official website (With documentation)</a></li>
      </ul>

      <h2>Mocha</h2>
      <ul>
        <li><a href="https://mochajs.org/">Official website</a></li>
        <li><a href="https://mochajl.readthedocs.io/en/latest/">Documentation</a></li>
      </ul>

      <h2>Surface CSS</h2>
      <ul>
        <li><a href="http://mildrenben.github.io/surface/">Official website (With documentation)</a></li>
      </ul>

      <h2>Most important gulp plugins</h2>
      <ul>
        <ul><a href="https://www.npmjs.com/package/gulp-concat">
          gulp-concat
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-declare">
          gulp-declare
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-documentation">
          gulp-documentation
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-handlebars">
          gulp-handlebars
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-hub">
          gulp-hub
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-jshint">
          gulp-jshint
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-open">
          gulp-open
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-tap">
          gulp-tap
        </a></li>
        <li><a href="https://www.npmjs.com/package/gulp-uglify">
          gulp-uglify
        </a></li>
      </ul>

    {{/content}}

{{/extend}}
