{{#extend "layout"}}

    {{#content "page"}}
        <h2>Fast</h2>
        <p>
          Breaking Gulp 4 for better task management and faster build times. 
        </p>

        <h2>Lightweight</h2>
        <p>
          Merge and uglify everything for smaller footprints.
        </p>

        <h2>Usability</h2>
        <p>
          Adapt and configure your way to a faster workflow.
        </p>

        <h2>Expendable</h2>
        <p>
          ..Or break things the way you like.
        </p>


    {{/content}}

{{/extend}}
