{{#extend "layout"}}

  {{#content "header"}}
    <div class="g--10 m--1 no-margin">

      <h2 class="m--1 color--paper fade-in-from-top anim-delay--5">
        Ember-inspired build tool written in Node.js
        <span class="fade-in-from-top anim-delay--10">
          for creating fast,
          <span class="fade-in-from-top anim-delay--15">lightweight,</span>
          <span class="fade-in-from-top anim-delay--20">uncoupled,</span>
          <span class="fade-in-from-top anim-delay--25">full-scale applications - </span>
          <span class="fade-in-from-top anim-delay--30">that work anywhere.</span>
        </span>
      </h2>
      <div class="right no-margin color--white">
        <i class="fade-in-from-bottom anim-delay--30 fa fa-server fa-3x" aria-hidden="true"></i>
        <i class="fade-in-from-bottom anim-delay--35 fa fa-laptop fa-3x" aria-hidden="true"></i>
        <i class="fade-in-from-bottom anim-delay--40 fa fa-mobile fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  {{/content}}
  {{#content "page"}}
    <div class="container container--wrap no-margin">
      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>Gulp 4</h2>
        <p>
          gulp is a toolkit for automating painful or time-consuming tasks in your development workflow, so you can stop messing around and build something.
          <p>
      </div>

      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>Browserify</h2>
        <p>
          Browsers don't have the require method defined, but Node.js does. With Browserify you can write code that uses require in the same way that you would use it in Node.
        </p>
      </div>

      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>scaleApp</h2>
        <p>
          scaleApp is a tiny JavaScript framework for scalable and maintainable One-Page-Applications / Single-Page-Applications. The framework allows you to easily create complex web applications.
        </p>
      </div>

      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>Backbone</h2>
        <p>
          Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful
          JSON interface.
        </p>
      </div>


      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>Zest</h2>

        <p>
          zest is a fast, lightweight, and extensible CSS selector engine. Zest was designed to be very concise while still supporting CSS3/CSS4 selectors and remaining fast.
        </p>
      </div>

      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>Handlebars</h2>
        <p>
          Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.
        </p>
      </div>

      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>Atom.js</h2>
        <p>
          Atom.js is a small, easy to use JavaScript class that provides asynchronous control flow, event/property listeners, barriers, and more.
        </p>
      </div>

      <div class="card no-margin-vertical g--3 g-m--6 g-t--12">
        <h2>Surface CSS</h2>
        <p>
          Design philosophy and aesthetics inspired by Google's Material Design.
        </p>
      </div>

      <div class="card no-margin-vertical g--12" style="text-align:center;">
        <h2>Fluxbuild</h2>
        <p>
          Build blazingly-fast applications using all of the above, with premade gulp tasks for automated testing, documentation,templating and more. Configurable to fit your favorite workflow without getting in your way. Preloaded with everything you need to start
          building application of any scale.
        </p>
      </div>

    </div>
  {{/content}}

{{/extend}}
