{{#extend "layout"}}

  {{#content "header"}}
    <div class="g--10 m--1 no-margin">
      <h2 class="m--1 fade-in-from-top color--paper">Project Structure</h2>
    </div>
  {{/content}}

  {{#content "page"}}
    <h2>Coming Soon</h2>
  {{/content}}

{{/extend}}
