//Fonts are saved locally (docs/font)

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gentium Book Basic';
  src: url('../font/GentiumBookBasic.woff2') format('woff2');
}
